.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to "Voting App", root_path, class: "navbar-brand"
    
      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          %li= link_to "Sign Out"
        - else
          %li= link_to "Sign In", sign_in_path
          %li= link_to "Register", register_path
