.row
  .col-sm-12
    %h1 Campaigns
    
%br
%br
    
.row
  - @campaigns.each do |campaign|
    .col-sm-6
      .well
        %h2 #{campaign.title} (#{campaign.votes.count})
        %br
        = link_to "Enter", campaign, class: "btn btn-success"
        
.row
  = will_paginate @campaigns
